@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Default: Light Gray background, Dark text */
    /* Dark Mode: Dark Gray background (bg-gray-900), Light text */
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200;
  }
}
